# Core
numpy
pandas

# Data sources
yfinance
requests
lxml
html5lib
beautifulsoup4

# Indicators
pandas_ta

# ML / Stats
scikit-learn
statsmodels

# Deep Learning
tensorflow

# Portfolio optimization
PyPortfolioOpt
cvxpy
scs

# Viz (pipeline + dashboard)
matplotlib
plotly
streamlit

# Optional: expose streamlit externally
pyngrok

# Parquet support
pyarrow
fastparquet
