# Core
numpy
pandas

# Data sources
yfinance
requests


# Indicators
pandas_ta

# ML / Stats
scikit-learn
statsmodels

# Deep Learning
tensorflow

# Portfolio optimization
PyPortfolioOpt

# Viz (pipeline + dashboard)
matplotlib
plotly
streamlit

# Optional: expose streamlit externally
pyngrok
